body {
  position: relative;
  background-color: black;
}

img {
  position: absolute;
  left: 500px;
  top: 200px;
  transition: all 300ms;
}
.low {
  width: 100px;
  height: 120px;
}
.top {
  width: 120px;
  height: 100px;
}

.fa-solid {
  font-size: 50px;
  padding: 20px;
}
.btn.active {
  background-color: red;
  transition: all 300ms;
}

.btn_wrapper {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  top: 25px;
  position: absolute;
  left: 25px;
}
.right_left {
  display: flex;
  flex-direction: column;
  gap: 100px;
  left: 120px;
  position: absolute;
}

.up_down {
  display: flex;
  top: 120px;
  gap: 100px;
  position: absolute;
}
.btn {
  border-radius: 50px;
  border: 5px solid blue;
}

.left.btn.active {
  transform: translateX(-20%);
}
.right.btn.active {
  transform: translateX(+20%);
}
.up.btn.active {
  transform: translateY(-20%);
}
.down.btn.active {
  transform: translateY(+20%);
}
